ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    -webkit-column-count: 3;
    -moz-coloumn-count: 3;
    column-count: 3;

    -webkit-column-gap: 1px;
    -moz-column-gap: 1px;
    column-gap: 1px;

    -webkit-column-rule: 1px single grey;
    -moz-column-rule: 1px single grey;
    column-rule: 1px single grey;
}