h1 {
    text-align:center;
    font-family: 'Times New Roman'; 
}

p {
    font-family: 'Times New Roman';
    font-size: 12pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    -webkit-column-count: 6;
    -moz-coloumn-count: 6;
    column-count: 6;

    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;

    -webkit-column-rule: 1px single grey;
    -moz-column-rule: 1px single grey;
    column-rule: 1px single grey;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}