<html>

  <head>
    <title>My Photo Gallery</title>
  </head>

<body>

  <div class="topnav">
    <a href="#home" target="_parent">Supsystic</a>
    <a href="#plugins" target="_blank">WORDPRESS PLUGINS</a>
    <a href="#downloads" target="_blank">DOWNLOADS</a>
    <a href="#pricing" target="_blank">PRICING</a>
    <a href="#support" target="_blank">SUPPORT</a>
    <a href="#blog" target="_blank">BLOG</a>

    <input type="text" placeholder="Search...">
  </div>

  <h1>Blackout Gallery</h1>
  <p> WordPress Gallery by Supsystic plugin gives you the versatility to create any type of gallery you want. 
    Add shadows to your grid gallery thumbnails. Flash images with mouse-on blackout effect enable to display 
    your gallery in a stunning modern-style!
  </p>

  <p>
    Blackout Gallery is a great example of stylish and beautiful photo galleries creation.
  </p>

<app-gallery>
</app-gallery>

</body>

</html>