<html>

  <head>
    <title>My Photo Gallery</title>
  </head>

<body>

  <div class="topnav">
    <a href="app.component.html">Supsystic</a>
    <a href="#plugins">WORDPRESS PLUGINS</a>
    <a href="#downloads">DOWNLOADS</a>
    <a href="#pricing">PRICING</a>
    <a href="#support">SUPPORT</a>
    <a href="#blog">BLOG</a>

    <input type="text" placeholder="Search...">
  </div>

  <h1>Blackout Gallery</h1>
  <p> WordPress GAllery by Supsystic plugin gives you the versatility to create any type of gallery you want. 
    Add shadows to your grid gallery thumbnails. Flash images with mouse-on blackout effect enable to display 
    your gallery in a stunning modern-style!
  </p>

  <p>
    Blackout Gallery is a great example of stylish and beautiful photo galleries creation.
  </p>

  <ul>
    <li> <img src="/assets/21.JPG" alt=""/> </li>
    <li> <img src="/assets/1.JPG" alt=""/> </li>
    <li> <img src="/assets/2.JPG" alt=""/> </li>
    <li> <img src="/assets/14.JPG" alt=""/> </li>
    <li> <img src="/assets/16.JPG" alt=""/> </li>
    <li> <img src="/assets/3.JPG" alt=""/> </li>
    <li> <img src="/assets/22.JPG" alt=""/> </li>
    <li> <img src="/assets/4.JPG" alt=""/> </li>
    <li> <img src="/assets/5.JPG" alt=""/> </li>
    <li> <img src="/assets/6.JPG" alt=""/> </li>
    <li> <img src="/assets/7.JPG" alt=""/> </li>
    <li> <img src="/assets/8.JPG" alt=""/> </li>
    <li> <img src="/assets/20.JPG" alt=""/> </li>
    <li> <img src="/assets/9.JPG" alt=""/> </li>
    <li> <img src="/assets/10.JPG" alt=""/> </li>
    <li> <img src="/assets/18.JPG" alt=""/> </li>
    <li> <img src="/assets/11.JPG" alt=""/> </li>
    <li> <img src="/assets/12.JPG" alt=""/> </li>
    <li> <img src="/assets/13.JPG" alt=""/> </li>
    <li> <img src="/assets/15.JPG" alt=""/> </li>
    <li> <img src="/assets/19.JPG" alt=""/> </li>
    <li> <img src="/assets/17.JPG" alt=""/> </li>
    <li> <img src="/assets/22.JPG" alt=""/> </li>
  </ul>

</body>

</html>